.image-sm {
  width: 20px;
  height: 20px;
  color: whitesmoke;
}
.image-l {
  width: 200px;
  margin-right: 8px;
  margin-left: 8px;
  height: 148px;
  //   color: whitesmoke;
}
.projects {
  margin-top: 32px;
  margin-bottom: 8px;
}
.projects-content {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  margin-bottom: 32px;
}
.image {
  width: 80px;
  height: 80px;
  color: whitesmoke;
  margin-right: 8px;
  margin-left: 8px;
}

h1,
p {
  color: whitesmoke;
  margin: 0;
}

.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;
  padding-right: 20px;
  padding-left: 20px;
}

.links {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
  padding-left: 20px;
}

.about {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
  padding-left: 20px;
}

.about-text {
  display: block;
  margin-bottom: 24px;
}

.text-left {
  text-align: left;
}

.stack {
  margin-top: 8px;
}

.experience {
  margin-top: 24px;
  margin-bottom: 32px;
}

.links2 {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}

.exp-text {
  margin-top: 8px;
}
.exp-text2 {
  margin-bottom: 32px;

  margin-top: 8px;
}

@media (min-width: 768px) {
  .links2 {
    display: flex;
    flex-direction: row;
    margin-top: 24px;
  }
  .projects-content {
    flex-direction: row;

    margin-top: 32px;
    margin-bottom: 32px;
  }
  .hero,
  .about,
  .links {
    padding-right: 200px;
    padding-left: 200px;
  }
}

a {
  color: black;
  text-decoration: none;
}

a.white {
  color: whitesmoke;
}
